<md-list-item aria-label="<CHANGE ME>">
  <img class="md-avatar" gravatar-src="vm.ownerEmail" gravatar-size="40">
  <div class="md-list-item-text" layout="row" flex>
    <div flex="25">{{call.membership}}</div>
    <div flex>{{call.subject}}</div>
    <div>
      <!--<md-button class="md-icon-button" ng-show="alerting" ng-click="answer($event)" aria-label="Answer">
        <md-icon md-svg-icon="mdi:bell-ring"></md-icon>
      </md-button>-->
      <md-button class="md-icon-button" ng-click="redoCall(call, $event)" aria-label="Redo">
        <md-icon md-svg-icon="webcontent:ic_redo_24px"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="deleteCall(call, $event)" aria-label="Delete">
        <md-icon md-svg-icon="webaction:ic_delete_24px"></md-icon>
      </md-button>
    </div>
  </div>
</md-list-item>
