video.share-viewer.screen {
  width: 100%;
  max-width: 600px;
}

video.share-viewer.video {
  border: 1px solid gray;
  bottom: 20px;
  right: 20px;
  /* video div is flipped horizontally when active*/
  max-height: 17%;
  max-width: 17%;
  opacity: 1;
  position: absolute;
/*  transition: opacity 1s; */
}