tmpl-login {
  height: 100%;
}
.loginBox {
  /*margin-top: 100px;*/
  max-width:  90%;
  width: 500px;
}

.loginBox md-divider {
  margin-left: 20px;
  margin-right: 20px;
}

.loginBox md-divider {
  position: relative;
  text-align: center;
}

.loginBox md-divider span {
  position: absolute;
  top: -12px;
  margin-left: -16px;
  background-color: #fff;
  padding: 0 10px;
  z-index: 1;
}
